[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "models/deccer-cubes"]
	path = models/deccer-cubes
	url = https://github.com/GraphicsProgramming/deccer-cubes
[submodule "deps/cgltf"]
	path = deps/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "deps/meshoptimizer"]
	path = deps/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "deps/KTX-Software"]
	path = deps/KTX-Software
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
